@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.entry {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
  font-family: "Raleway";
}

@media screen and (min-width: 800px) {
  .entry {
    grid-auto-flow: column;
  }
}
