@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

*, *::after, *::before {
  box-sizing: border-box;
}

.entry {
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: "Raleway";
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .entry {
    display: block;
    width: 100;
  }
}
